<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/informacion.css" />
    <title>Información AJCB</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="brand-container">
          <span class="nav-brand">AJCB</span>
        </div>
        <ul class="nav-menu">
          <li><a href="/">inicio</a></li>
          <li><a href="informacion.html">información</a></li>
        </ul>
      </nav>

      <div class="informacion">
        <span>
          Página realizada por Anthony José Cedeño Berrio para proyecto de
          programación.
        </span>
        <br />
        <span>
          Github: <a href="https://github.com/Anthony-jcb/Anthony-page.git"
            >https://github.com/Anthony-jcb/Anthony-page.git</a
          ></span
        >
      </div>
    </header>
  </body>
</html>